## Official Classroom Average Analysis

### Prepare lists to secure/store the students names and averages within them.

In [7]:
Official_student_initials=[]
Official_classroom_average=[]

## Acquire initial students class average data

In [8]:
initial_student_name= input("\n Input the intial students name:")
student1_initial_integer=float(input(" initial score 1:"))
student1_initial_integer2=float(input(" alternative score 2:"))
student1_initial_integer3=float(input(" alternative score 3:"))
initial_student1_average=(student1_initial_integer+student1_initial_integer2+student1_initial_integer3)/3
Official_student_initials.append(initial_student_name)
Official_classroom_average.append(initial_student1_average)

 Input the intial students name: Julia
 initial score 1: 10
 alternative score 2: 20
 alternative score 3: 70

## Acquire second students class average data

In [9]:
alternative_student_initial= input("\n Input the intial students name:")
alternative_initial_integer=float(input( "initial score 1:"))
alternative_initial_integer2=float(input( "alternative score 2:"))
alternative_initial_integer3=float(input( "alternative score 3:"))
alternative_student_average=( alternative_initial_integer+alternative_initial_integer2+alternative_initial_integer3)/3
Official_student_initials.append(alternative_student_initial)
Official_classroom_average.append(alternative_student_average)

 Input the intial students name: Hamid
initial score 1: 10
alternative score 2: 50
alternative score 3: 66

## Acquire third students class average data

In [10]:
third_student_initial= input("\n Input the intial students name:")
third_initial_integer=float(input( "initial score 1:"))
third_initial_integer2=float(input( "alternative score 2:"))
third_initial_integer3=float(input( "alternative score 3:"))
third_student_average=(third_initial_integer+third_initial_integer2+third_initial_integer3)/3
Official_student_initials.append(third_student_initial)
Official_classroom_average.append(third_student_average)

 Input the intial students name: Tarzan
initial score 1: 27
alternative score 2: 92
alternative score 3: 40

## Acquire fourth students class average data

In [11]:
fourth_student_initial= input("\n Input the intial students name:")
fourth_initial_integer=float(input( "initial score 1:"))
fourth_initial_integer2=float(input( "alternative score 2:"))
fourth_initial_integer3=float(input( "alternative score 3:"))
fourth_student_average=(fourth_initial_integer+fourth_initial_integer2+fourth_initial_integer3)/3
Official_student_initials.append(fourth_student_initial)
Official_classroom_average.append(fourth_student_average)

 Input the intial students name: Gerald
initial score 1: 23
alternative score 2: 37
alternative score 3: 56

## Calculate the overall classroom average

In [12]:
Overall_class_average=(initial_student1_average+alternative_student_average+third_student_average+fourth_student_average)/4

## Prompt the overall formmatted summary

In [13]:
print("\n-----Official Class Summary----")
print(f"{'name':<10}{'Score'}")
print(f"{Official_student_initials[0]:<10}{Official_classroom_average[0]:.1f}")
print(f"{Official_student_initials[1]:<10}{Official_classroom_average[1]:.1f}")
print(f"{Official_student_initials[2]:<10}{Official_classroom_average[2]:.1f}")
print(f"{Official_student_initials[3]:<10}{Official_classroom_average[3]:.1f}")

print(f"\nClass Average: {Overall_class_average:.1f}")
print("Overall quantity of students: 4")

-----Official Class Summary----
name      Score
Julia     33.3
Hamid     42.0
Tarzan    53.0
Gerald    38.7

Class Average: 41.8
Overall quantity of students: 4

## Overall Summary

### Four students, each having three test results, will have their academic performance data gathered and summarized by the program. Each student's input and computation steps are manually repeated by the program. This makes the structure more verbose, but it shows that you know how to control data flow without iteration.